.desktop {
  width: 1440px;
  height: 1024px;
  background-color: #000000;
  overflow: hidden;
}

.desktop .overlap {
  position: relative;
  width: 1501px;
  height: 1029px;
  top: -5px;
  left: -5px;
}

.desktop .overlap-group {
  position: absolute;
  width: 1501px;
  height: 1029px;
  top: 0;
  left: 0;
}

.desktop .left-section {
  position: absolute;
  width: 315px;
  height: 881px;
  top: 0;
  left: 10px;
  background-color: #000000;
  border-radius: 26px;
}

.desktop .left-playlists {
  position: absolute;
  width: 194px;
  height: 257px;
  top: 494px;
  left: 31px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 34px;
  top: 0;
  left: 1px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .div {
  position: absolute;
  width: 88px;
  top: 46px;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 141px;
  top: 91px;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.38px;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 182px;
  top: 183px;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.57px;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 123px;
  top: 228px;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 92px;
  top: 137px;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.38px;
  line-height: normal;
}

.desktop .left-options-top {
  position: absolute;
  width: 295px;
  height: 149px;
  top: 131px;
  left: 0;
}

.desktop .home-wrapper {
  position: absolute;
  width: 295px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #282828;
  border-radius: 6px;
}

.desktop .home {
  position: relative;
  width: 105px;
  height: 29px;
  top: 10px;
  left: 50px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 54px;
  top: 0;
  left: 49px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.14px;
  line-height: normal;
}

.desktop .fi-ss-home {
  position: absolute;
  width: 25px;
  height: 29px;
  top: 0;
  left: 0;
}

.desktop .search {
  position: absolute;
  width: 113px;
  height: 28px;
  top: 65px;
  left: 50px;
}

.desktop .input {
  position: absolute;
  width: 62px;
  top: 0;
  left: 49px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.14px;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.desktop .fi-rs-search {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 1px;
  left: 0;
}

.desktop .your-library {
  position: absolute;
  width: 154px;
  height: 29px;
  top: 120px;
  left: 51px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 104px;
  top: 0;
  left: 48px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1.14px;
  line-height: normal;
}

.desktop .library {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 3px;
  left: 0;
}

.desktop .rectangle {
  position: absolute;
  width: 1px;
  height: 25px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 1px;
  height: 25px;
  top: 0;
  left: 7px;
  background-color: #ffffff;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 1px;
  height: 26px;
  top: -1px;
  left: 18px;
  background-color: #ffffff;
  transform: rotate(-24.67deg);
}

.desktop .left-options-middle {
  position: absolute;
  width: 184px;
  height: 155px;
  top: 314px;
  left: 22px;
}

.desktop .group {
  width: 31px;
  height: 36px;
  top: 60px;
  border-radius: 1px;
  position: absolute;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(64, 0, 244) 0%,
    rgb(96, 58, 237) 22.48%,
    rgb(124, 110, 230) 46.93%,
    rgb(151, 159, 225) 65.71%,
    rgb(162, 179, 222) 77.68%,
    rgb(173, 200, 220) 88.93%,
    rgb(192, 236, 215) 100%
  );
}

.desktop .fi-ss-heart {
  position: absolute;
  width: 9px;
  height: 10px;
  top: 13px;
  left: 11px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 126px;
  top: 2px;
  left: 52px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 105px;
  top: 62px;
  left: 52px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 124px;
  top: 122px;
  left: 52px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .fi-ss-plus-small-wrapper {
  position: absolute;
  width: 31px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 1px;
}

.desktop .fi-ss-plus-small {
  position: absolute;
  width: 25px;
  height: 29px;
  top: 4px;
  left: 3px;
}

.desktop .gg-media-podcast-wrapper {
  position: absolute;
  width: 31px;
  height: 36px;
  top: 119px;
  left: 0;
  background-color: #004638;
  border-radius: 5px;
}

.desktop .gg-media-podcast {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 8px;
  left: 7px;
}

.desktop .install-app {
  position: absolute;
  width: 167px;
  height: 42px;
  top: 801px;
  left: 70px;
}

.desktop .overlap-2 {
  position: relative;
  width: 165px;
  height: 42px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 132px;
  top: 4px;
  left: 33px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  letter-spacing: -1px;
  line-height: normal;
}

.desktop .grommet-icons {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
}

.desktop .spotify-logo {
  position: absolute;
  width: 215px;
  height: 61px;
  top: 34px;
  left: 28px;
  object-fit: cover;
}

.desktop .listening-on-DEVICE {
  position: absolute;
  width: 1446px;
  height: 55px;
  top: 974px;
  left: 0;
}

.desktop .overlap-3 {
  position: absolute;
  width: 1444px;
  height: 40px;
  top: 15px;
  left: 0;
  background-color: #1ed760;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 303px;
  height: 32px;
  top: 4px;
  left: 1073px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .fluent-speaker {
  position: absolute;
  width: 14px;
  height: 24px;
  top: 8px;
  left: 1137px;
}

.desktop .vector {
  position: absolute;
  width: 17px;
  height: 15px;
  top: 0;
  left: 1257px;
}

.desktop .shows-you-might-like {
  position: absolute;
  width: 1104px;
  height: 551px;
  top: 330px;
  left: 340px;
}

.desktop .overlap-4 {
  position: absolute;
  width: 561px;
  height: 332px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 409px;
  top: 0;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 29px;
  text-align: center;
  letter-spacing: -1.16px;
  line-height: normal;
}

.desktop .artist {
  position: absolute;
  width: 277px;
  height: 279px;
  top: 41px;
  left: 273px;
  transform: rotate(-4.91deg);
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 272px;
  height: 279px;
  top: 0;
  left: 0;
}

.desktop .rectangle-4 {
  height: 257px;
  top: 10px;
  left: 11px;
  transform: rotate(4.91deg);
  position: absolute;
  width: 251px;
  background-color: #181818;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 139px;
  top: 255px;
  left: 33px;
  transform: rotate(4.91deg);
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: normal;
}

.desktop .img {
  height: 174px;
  top: 29px;
  left: 32px;
  transform: rotate(4.91deg);
  position: absolute;
  width: 207px;
  object-fit: cover;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 211px;
  top: 227px;
  left: 32px;
  transform: rotate(4.91deg);
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: -0.42px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .vector-2 {
  position: absolute;
  width: 109px;
  height: 91px;
  top: 1413px;
  left: -3954px;
  transform: rotate(4.91deg);
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 255px;
  height: 263px;
  top: 51px;
  left: 1px;
}

.desktop .overlap-5 {
  position: relative;
  width: 251px;
  height: 263px;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 251px;
  height: 257px;
  top: 0;
  left: 0;
  background-color: #181818;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 104px;
  top: 245px;
  left: 23px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: normal;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 207px;
  height: 174px;
  top: 18px;
  left: 22px;
  object-fit: cover;
}

.desktop .weekly-motivatio {
  position: absolute;
  width: 211px;
  top: 216px;
  left: 22px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 21px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .span {
  letter-spacing: -0.42px;
}

.desktop .text-wrapper-17 {
  letter-spacing: 1.89px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 255px;
  height: 263px;
  top: 51px;
  left: 568px;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 211px;
  top: 216px;
  left: 22px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: -0.42px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 255px;
  height: 263px;
  top: 51px;
  left: 851px;
}

.desktop .text-wrapper-19 {
  width: 98px;
  top: 245px;
  left: 23px;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 15px;
  letter-spacing: 0.15px;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  line-height: normal;
}

.desktop .artist-2 {
  position: absolute;
  width: 255px;
  height: 216px;
  top: 335px;
  left: 1px;
}

.desktop .overlap-6 {
  position: relative;
  width: 251px;
  height: 216px;
}

.desktop .rectangle-7 {
  height: 210px;
  top: 0;
  left: 0;
  position: absolute;
  width: 251px;
  background-color: #181818;
}

.desktop .text-wrapper-20 {
  width: 98px;
  top: 201px;
  left: 23px;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 15px;
  letter-spacing: 0.15px;
  white-space: nowrap;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  line-height: normal;
}

.desktop .rectangle-8 {
  height: 143px;
  top: 15px;
  left: 22px;
  position: absolute;
  width: 207px;
  object-fit: cover;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 211px;
  top: 177px;
  left: 22px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: -0.42px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .artist-3 {
  position: absolute;
  width: 255px;
  height: 216px;
  top: 335px;
  left: 282px;
}

.desktop .artist-4 {
  position: absolute;
  width: 255px;
  height: 216px;
  top: 335px;
  left: 564px;
}

.desktop .artist-5 {
  position: absolute;
  width: 255px;
  height: 216px;
  top: 335px;
  left: 845px;
}

.desktop .down-options-except {
  position: absolute;
  width: 1436px;
  height: 112px;
  top: 874px;
  left: 65px;
}

.desktop .line {
  position: absolute;
  width: 1380px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-7 {
  position: absolute;
  width: 1435px;
  height: 112px;
  top: 0;
  left: 0;
  background-color: #181818;
}

.desktop .right-options {
  position: absolute;
  width: 225px;
  height: 32px;
  top: 38px;
  left: 1189px;
}

.desktop .tabler-arrows {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 1752px;
  left: -3746px;
}

.desktop .fluent-speaker-2 {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 6px;
  left: 89px;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 87px;
  height: 5px;
  top: 16px;
  left: 114px;
  background-color: #c4c4c4;
  border-radius: 2.5px;
}

.desktop .carbon-laptop {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 6px;
  left: 60px;
}

.desktop .carbon-query-queue {
  position: absolute;
  width: 24px;
  height: 32px;
  top: 0;
  left: 25px;
}

.desktop .ph-microphone-stage {
  position: absolute;
  width: 17px;
  height: 23px;
  top: 7px;
  left: 0;
}

.desktop .artist-title-section {
  position: absolute;
  width: 191px;
  height: 70px;
  top: 21px;
  left: 14px;
}

.desktop .text-wrapper-22 {
  position: absolute;
  width: 91px;
  top: 13px;
  left: 67px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.9px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-23 {
  position: absolute;
  width: 91px;
  top: 35px;
  left: 66px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: normal;
}

.desktop .bx-bxs-heart {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 23px;
  left: 169px;
}

.desktop .rectangle-10 {
  position: absolute;
  width: 52px;
  height: 70px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .music-player-options {
  position: absolute;
  width: 624px;
  height: 80px;
  top: 887px;
  left: 413px;
}

.desktop .overlap-8 {
  position: absolute;
  width: 557px;
  height: 5px;
  top: 68px;
  left: 28px;
}

.desktop .rectangle-11 {
  position: absolute;
  width: 450px;
  height: 5px;
  top: 0;
  left: 107px;
  background-color: #535353;
  border-radius: 2.5px;
}

.desktop .rectangle-12 {
  position: absolute;
  width: 450px;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #c4c4c4;
  border-radius: 2.5px;
}

.desktop .text-wrapper-24 {
  left: 0;
  position: absolute;
  width: 27px;
  top: 61px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: normal;
}

.desktop .text-wrapper-25 {
  left: 593px;
  position: absolute;
  width: 27px;
  top: 61px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: normal;
}

.desktop .raphael-shuffle {
  position: absolute;
  width: 21px;
  height: 24px;
  top: 14px;
  left: 208px;
}

.desktop .bx-bx-skip-previous {
  position: absolute;
  width: 27px;
  height: 31px;
  top: 9px;
  left: 249px;
}

.desktop .bx-bx-skip-previous-2 {
  position: absolute;
  width: 27px;
  height: 31px;
  top: 9px;
  left: 336px;
}

.desktop .gridicons-play {
  position: absolute;
  width: 45px;
  height: 51px;
  top: 0;
  left: 284px;
}

.desktop .fluent-arrow-repeat {
  position: absolute;
  width: 19px;
  height: 22px;
  top: 15px;
  left: 385px;
}

.desktop .title-playlists {
  position: absolute;
  width: 1059px;
  height: 212px;
  top: 77px;
  left: 356px;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 334px;
  top: 0;
  left: 0;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  letter-spacing: -1.14px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .liked-songs {
  position: absolute;
  width: 336px;
  height: 72px;
  top: 54px;
  left: 0;
}

.desktop .overlap-group-3 {
  position: relative;
  width: 334px;
  height: 72px;
  background-color: #303030;
  border-radius: 4px;
}

.desktop .rectangle-13 {
  position: absolute;
  width: 334px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #303030;
  border-radius: 4px;
}

.desktop .fi-ss-heart-wrapper {
  width: 92px;
  height: 72px;
  top: 0;
  position: absolute;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(64, 0, 244) 0%,
    rgb(96, 58, 237) 22.48%,
    rgb(124, 110, 230) 46.93%,
    rgb(151, 159, 225) 65.71%,
    rgb(162, 179, 222) 77.68%,
    rgb(173, 200, 220) 88.93%,
    rgb(192, 236, 215) 100%
  );
}

.desktop .fi-ss-heart-2 {
  position: absolute;
  width: 27px;
  height: 21px;
  top: 26px;
  left: 33px;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 102px;
  top: 27px;
  left: 112px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: normal;
}

.desktop .neffex {
  position: absolute;
  width: 336px;
  height: 73px;
  top: 54px;
  left: 361px;
}

.desktop .overlap-9 {
  position: relative;
  width: 334px;
  height: 73px;
}

.desktop .rectangle-14 {
  position: absolute;
  width: 333px;
  height: 72px;
  top: 1px;
  left: 0;
  background-color: #303030;
  border-radius: 4px;
}

.desktop .rectangle-15 {
  position: absolute;
  width: 333px;
  height: 72px;
  top: 1px;
  left: 1px;
  background-color: #303030;
  border-radius: 4px;
}

.desktop .group-2 {
  height: 73px;
  background-image: url(./img/rectangle-2-4.png);
  position: absolute;
  width: 92px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .text-wrapper-28 {
  position: absolute;
  width: 133px;
  top: 27px;
  left: 112px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .k-DA {
  position: absolute;
  width: 337px;
  height: 72px;
  top: 54px;
  left: 722px;
}

.desktop .overlap-10 {
  position: relative;
  width: 335px;
  height: 72px;
}

.desktop .rectangle-16 {
  border-radius: 4px;
  position: absolute;
  width: 334px;
  height: 72px;
  top: 0;
  left: 1px;
  background-color: #303030;
}

.desktop .group-3 {
  height: 72px;
  background-image: url(./img/rectangle-2-2.png);
  position: absolute;
  width: 92px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .text-wrapper-29 {
  position: absolute;
  width: 102px;
  top: 27px;
  left: 112px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .dance-electronic-mix {
  position: absolute;
  width: 339px;
  height: 72px;
  top: 140px;
  left: 0;
}

.desktop .rectangle-17 {
  position: absolute;
  width: 334px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #303030;
  border-radius: 4px 4px 4px 0px;
}

.desktop .rectangle-18 {
  border-radius: 4px 4px 4px 0px;
  position: absolute;
  width: 334px;
  height: 72px;
  top: 0;
  left: 1px;
  background-color: #303030;
}

.desktop .group-4 {
  height: 72px;
  background-image: url(./img/rectangle-2.png);
  position: absolute;
  width: 92px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .text-wrapper-30 {
  width: 167px;
  top: 19px;
  left: 112px;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: normal;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
}

.desktop .text-wrapper-31 {
  width: 69px;
  top: 58px;
  left: 11px;
  font-size: 8.3px;
  letter-spacing: -0.17px;
  line-height: 7px;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
}

.desktop .rectangle-19 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 63px;
  left: 0;
  background-color: #9b0dd2;
}

.desktop .rectangle-20 {
  position: absolute;
  width: 1px;
  height: 92px;
  top: 25px;
  left: 45px;
  background-color: #9b0dd2;
  transform: rotate(90deg);
}

.desktop .user {
  position: absolute;
  width: 149px;
  height: 41px;
  top: 32px;
  left: 1270px;
}

.desktop .overlap-11 {
  position: relative;
  width: 147px;
  height: 41px;
  background-color: #090909;
  border-radius: 33px;
}

.desktop .ellipse {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 2px;
  left: 2px;
  object-fit: cover;
}

.desktop .overlap-group-4 {
  position: absolute;
  width: 90px;
  height: 31px;
  top: 8px;
  left: 47px;
}

.desktop .text-wrapper-32 {
  width: 75px;
  top: 0;
  left: 0;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  line-height: normal;
}

.desktop .fi-ss-caret-down {
  position: absolute;
  width: 21px;
  height: 24px;
  top: 1px;
  left: 69px;
}

.desktop .top-arrow-navigation {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 37px;
  left: 368px;
}

.desktop .fi-rr-angle-small-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #131313;
  border-radius: 20px;
}

.desktop .fi-rr-angle-small {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.desktop .img-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 60px;
  background-color: #131313;
  border-radius: 20px;
}

.desktop .text-wrapper-33 {
  position: absolute;
  top: 301px;
  left: 1341px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 17px;
  letter-spacing: 0.68px;
  line-height: normal;
}
